body {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 141, 175);
}
#test {
    height: 497px;
    width: 497px;
    border: 3px solid rgb(6, 141, 175);
    margin: 20px auto;
}